

body {
    font-family: Tahoma;
}

img {
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-weight: normal;
    font-size: 18px;
    text-align: left;
}

p {
    font-size: 14px;
}

li {
    text-align: left;
    font-size: 18px;
}

.header {
    background-color: lightseagreen;
    display: flex;
    align-items: center;
}

.table {
    display: table;
    align-items: center;
    justify-content: space-between;
    border-spacing: 10px;
    border-collapse: separate;
}

.start {
    display: flex;
    align-items: center;
    justify-content: start;

}

.section {
    max-width: 40%;
    margin: 20px;
    text-align: center;
    border: 2px black solid;
    padding: 20px;
    display: table-cell;
}